.pull-left
{
    float: left;
}
.pull-right
{
    float: right;
}
.details-value
{
    text-align: right;
}
.label
{
    font-weight: bold;
}
#SearchBtn
{
    width: 10%;
    float: right;
    clear: both;
}
button:hover
{
    font-weight: bold;
}